html,
body {
    margin: 0;
    padding: 0;
}

.timeline-wrapper {}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-list .card {}